#signup .nav-link{
	color:#666
}

#signup{
	text-align: center;
	background: url("../regis.jpg");
	background-repeat: no-repeat;
	background-size : cover;
	height : 100%;
  min-height: 100vh;
   
}
.signup.form-wrapper {
	background-color: aliceblue;
	padding: 40px;
	max-width:600px;
	margin:40px auto;
	border-radius:20px;
	box-shadow:0 4px 10px 4px rgba(#000000,.3);
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.signup.form-wrapper a {		
	color: #33cabb;
	padding: 0 !important;
}

.signup.form-wrapper a:hover{
	text-decoration: underline;
}