.body {
  text-align: center;
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size : cover;
  height : 100%;
 
}
body{
  font-family: 'Josefin Sans', sans-serif !important;

}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
  margin-top: -20px
}

.App-link {
  color: #61dafb;
}



.Border{
  border-style: solid;
  border-radius: 100px;
}
.section1{
  text-align: center;
  background-image: url("brush1.png");
  background-size : cover;
  display: flex;
  min-height: 100vh;
}
.section2{
  text-align: center;
}
.one {
  margin-top: 20vh;
}
.two {
  margin: auto;
  
}

.button1{
  background: transparent;
  color:#fff;
  border:none;
  position:relative;
  padding-top: 12px;
  font-size:0.4em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button1:hover{
  background:#fff;
  color:darkcyan;
}
.button1:before,.button1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #33ccff;
  transition:400ms ease all;
}
.button1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button1:hover:before,.button1:hover:after{
  width:100%;
  transition:800ms ease all;
}



.Border:hover{  
  background-color: #AAAAAA;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
