
 .profile{
  text-align: center;
	background-repeat: no-repeat;
	background-size : cover;
	height : 100%;
  min-height: 100vh;
  background-color: blueviolet

 }
.profile .Navbar nav{
  background-color: white !important;
}
 .profile .Navbar .navbar-dark .navbar-nav .nav-link{
   color:black
 }
 .profile .Navbar .App-logo  {
  background-image: url("Mentoria.png") !important;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
 }
 .profile .content{
  height: 88vh
 }
 .left{
   width: 70%;
   float: left;
   text-align: center;
   background-color: beige;
   height: 100%;
 }
 .right{
   display: inline-block;
   width: 30%;
   text-align: center;
   height: 50%;
   background-color: aqua
  }